/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Phan Nhat Minh
ID: s3978598
Acknowledgement: chat.openai.com, w3schools.com, stackoverflow.com, penguin.co.uk, Coding Nepal, Codepen.io, freepik.com, unsplash.com, giphy.com, fontawesome.com, google.com, GitHub Copilot.
*/

/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables*/
:root {
    /*Colors*/
    --owl--white-primary: #fffffe;
    --owl--green-primary: #BFDB38;
    --owl--teal-primary: #00425A;
    --owl--grey-primary: #f2f4f6;
    --owl--yellow-primary: #ff8e05;

    /*Screen sizes*/
    --owl--screen-sm: 768px;
    --owl--screen-md: 992px;

}

/*Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

body {
    min-height: 100vh;
    background: var(--owl--white-primary);
    display: flex;
    flex-direction: column;
}

/*Main content margin*/
.main-content {
    width: 80%;
    margin: auto;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

/*Header*/
.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: var(--owl--white-primary);
    border-bottom: 2px solid var(--owl--green-primary);
}

.header__nav {
    position: relative;
    max-width: 100%;
    padding: 0px 30px;
    height: 10vmin;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0px;
}

.header__logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo-img {
    width: auto;
    height: 6vmin;
}

.header__logo-text {
    font-size: 3vmin;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-left: 20px;
}

.header__nav-links {
    display: inline-flex;
}

.header__nav-item {
    list-style: none;
    line-height: 10vh;
}

.drop-menu,
.mega-links {
    list-style: none;
}

.header__nav-item a {
    color: var(--owl--teal-primary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header__nav-item a:hover {
    background: var(--owl--grey-primary);
}

.header__nav-links .mobile-item {
    display: none;
}

.header__nav-links .drop-menu {
    position: absolute;
    background: var(--owl--grey-primary);
    width: 180px;
    line-height: 45px;
    top: 100px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.header__nav-item:hover .drop-menu,
.header__nav-item:hover .mega-box {
    transition: all 0.3s ease;
    top: 10vh;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 600;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 10vh;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: var(--owl--grey-primary);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row .row-header {
    color: var(--owl--teal-primary);
    font-size: 18px;
    font-weight: 700;
    margin-left: -20px;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(0, 66, 90, 0.5);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: var(--owl--teal-primary);
    font-size: 14px;
    display: block;
}

.row .mega-links li a:hover {
    color: var(--owl--green-primary);
    text-decoration: underline;
}

.header__nav .btn {
    color: var(--owl--teal-primary);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.header__nav .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .header__nav .btn {
        display: block;
    }

    .header__nav {
        max-width: 100%;
    }

    .header__nav .header__nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 370px;
        top: 0;
        left: -100%;
        background: var(--owl--grey-primary);
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--owl--white-primary);
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--owl--teal-primary);
        border-radius: 10px;
    }

    #menu-btn:checked~.header__nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .header__nav-item {
        margin: 15px 10px;
    }

    .header__nav-item a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .header__nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .header__nav-links .desktop-item {
        display: none;
    }

    .header__nav-links .mobile-item {
        border-radius: 5px;
        color: var(--owl--teal-primary);
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
        transition: all 0.3s ease;
    }

    .header__nav-links .mobile-item:hover {
        background: var(--owl--white-primary);
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row .row-header {
        font-size: 19px;
    }
}

.header input {
    display: none;
}

/*Aritcles section*/
.articles {
    display: flex;
    margin: auto;
    margin-top: 3%;
}

.articles__main {
    flex: 2;
    margin-right: 1rem;
    padding: 0 3%;
    border-left: 1px solid rgba(0, 66, 90, 0.2);
    border-right: 1px solid rgba(0, 66, 90, 0.2);
}

.articles__main-img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.articles__main-intro {
    font-size: 1.2vmax;
    margin-top: 1rem;
    color: var(--owl--teal-primary);
    margin-bottom: 0.1rem;
    font-weight: 700;
}

.articles__main-title {
    font-size: 1.6vmax;
    font-weight: 800;
    color: var(--owl--teal-primary);
}

.articles__main-excerpt {
    margin: 1rem 0;
    font-size: 1.2vmax;
    font-weight: 400;
    color: var(--owl--teal-primary);
}

.articles__main-link {
    text-decoration: none;
}

.articles__main-link:hover .articles__main-title,
.articles__main-link:hover .articles__main-intro {
    color: var(--owl--green-primary);
}

.articles__subs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles__subs-title {
    background: var(--owl--green-primary);
    padding: 2%;
}

.articles__subs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.articles__sub {
    flex: 1;
    border-bottom: 1px solid rgba(0, 66, 90, 0.2);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.articles__subs-title-text {
    font-size: 1.2vmax;
    font-weight: 700;
    color: var(--owl--teal-primary);
}

.articles__sub:last-child {
    border-bottom: none;
}

.articles__sub-img {
    max-width: 50%;
    display: block;
}

.articles__sub-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.articles__sub-title {
    font-size: 1vmax;
    margin: 0.5rem 0;
    color: var(--owl--teal-primary);
    font-weight: 700;
}

.articles__sub-link {
    text-decoration: none;
}

.articles__sub-link:hover .articles__sub-title {
    color: var(--owl--green-primary);
}

@media screen and (max-width: 768px) {
    .articles {
        flex-direction: column;
        margin-top: 6%;
    }

    .articles__main {
        margin-right: 0;
        border: none;
    }

    .articles__subs-container {
        display: flex;
        flex-direction: row;
        gap: 3%;
        margin-top: 3%;
    }

    .articles__subs-title {
        padding: 2% 2%;
    }

    .articles__sub {
        flex: 1;
        border: none;
        padding: 0;
    }

    .articles__sub-container {
        flex-direction: column;
        gap: 0;
    }

    .articles__sub-img {
        max-width: 100%;
    }
}


/*Bookshelf styling*/
.bookshelf {
    width: 100%;
}

.bookshelf__title-container {
    border-top: var(--owl--teal-primary) solid 2px;
    margin-top: 4vmax;
    margin-bottom: 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookshelf__title {
    font-size: 1.5vmax;
    font-weight: 700;
    text-align: left;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.bookshelf__view-all-link {
    text-decoration: none;
    font-size: 1vmax;
    text-align: right;
    height: fit-content;
    color: var(--owl--green-primary);
    font-weight: 800;
    padding-top: 7px;
    text-decoration: underline;
    text-transform: uppercase;
}

.bookshelf__view-all-link:hover {
    color: var(--owl--teal-primary);
}

.bookshelf__books {
    position: relative;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.bookshelf__book {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.bookshelf__book-cover {
    width: 15vw;
}

.bookshelf__book-link {
    text-decoration: none;
}

.bookshelf__book-title {
    color: var(--owl--teal-primary);
    font-size: 1vmax;
    font-weight: 700;
    margin-top: 1vmax;
    text-align: center;
    width: 100%;
}

.bookshelf__book-author {
    font-size: 1vmax;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 0.1vmax;
    text-transform: uppercase;
    color: var(--owl--teal-primary);
}

.bookshelf__book-link:hover .bookshelf__book-title {
    color: var(--owl--green-primary);
    text-decoration: underline;
}

.bookshelf__book:hover .bookshelf__book-cover {
    transform: scale(1.01);
    transition: .3s;
}

@media screen and (max-width: 768px) {
    .bookshelf__book-cover {
        width: 100%;
    }

    .bookshelf__book-title {
        font-size: 1.1vmax;
    }

}

@media screen and (max-width: 748px) {
    .bookshelf__books {
        flex-direction: column;
    }

    .bookshelf__book-cover {
        width: 40vw;
    }

    .bookshelf__book {
        margin-bottom: 1.7vmax;
    }

    .bookshelf__book-title {
        font-size: 1.4vmax;
    }
}


/*Featured video*/
.featured-video {
    width: 100%;
    margin-top: 4vmax;
    margin-bottom: 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--owl--teal-primary);
    padding: 2%;
    background: var(--owl--green-primary);
}

.featured-video__description {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.featured-video__video {
    flex: 2;
    width: fit-content;
}

.featured-video__source {
    width: 100%;
    height: 100%;
    border: 2px solid var(--owl--teal-primary);
}

.featured-video__section-title {
    font-size: 1.5vmax;
    font-weight: 700;
    text-align: left;
    color: var(--owl--teal-primary);
}

.featured-video__video-title {
    font-size: 1.5vmax;
    font-weight: 700;
    text-align: left;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__video-author {
    font-size: 1vmax;
    font-weight: 500;
    text-align: left;
    font-style: italic;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__video-description {
    font-size: 1vmax;
    font-weight: 400;
    text-align: left;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__watch-btn {
    width: 100%;
    text-align: left;
    color: var(--owl--teal-primary);
    background: var(--owl--white-primary);
    border: none;
    font-weight: 800;
    padding: 2%;
    margin-top: 10%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8vmax;
    color: var(--owl--teal-primary);
}

@media screen and (max-width: 992px) {
    .featured-video {
        flex-direction: column;
    }

    .featured-video__description {
        flex: 1;
        order: 2;
        padding: 2%;
    }

    .featured-video__video {
        flex: 2;
        order: 1;
    }

    .featured-video__video-description {
        font-size: 1.2vmax;
    }
}


/*Book detail page styling*/
.book-detail {
    margin-bottom: 70px;
}

.book-detail__main-body {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.book-detail__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-left: 80px;
    margin-right: 80px;
}

.book-detail__sub-images {
    max-width: fit-content;
}

.book-detail__sub-images--popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.book-detail__sub-images--popup span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: 800;
    color: var(--owl--white-primary);
    cursor: pointer;
    z-index: 100;
}

.book-detail__sub-images--popup img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--owl--white-primary);
    border-radius: 5px;
    width: 500px;
    object-fit: cover;
}

.book-detail__main-image {
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.book-detail__sub-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-detail__sub-image {
    width: 70px;
    height: auto;
}

.book-detail__buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.book-detail__name {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: var(--owl--teal-primary);
}

.book-detail__author {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--owl--teal-primary);
}

.book-detail__price {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.book-detail__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.book-detail__button {
    flex: 1;
    padding: 10px;
    color: var(--owl--teal-primary);
    border: 2px solid var(--owl--teal-primary);
    cursor: pointer;
    text-align: center;
    background: var(--owl--white-primary);
    font-weight: 800;
}

.book-detail__button--coming-soon {
    flex: 1;
    color: var(--owl--teal-primary);
    border: 2px solid var(--owl--teal-primary);
    background: #a9a9a9;
    font-weight: 800;
}

.book-detail__button--buy-now,
.book-detail__button--pre-order {
    text-decoration: none;
    flex: 1;
    border: 2px solid var(--owl--teal-primary);
    background: var(--owl--green-primary);
    font-weight: 800;
}

.book-detail__button--buy-now:hover,
.book-detail__button--pre-order:hover {
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    transition: .3s;
}

.book-detail__button--add-to-cart:hover {
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    transition: .3s;
}

.book-detail__quantity {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.book-detail__quantity label,
.book-detail__quantity input {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
}

.book-detail__price-old {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 18px;
    color: rgba(0, 66, 90, 0.8);
}

.book-detail__price-current {
    font-size: 30px;
    font-weight: 700;
    color: var(--owl--teal-primary);
}


.book-detail__summary {
    margin-top: 70px;
    width: 100%;
    box-sizing: 0 0 5px rgba(0, 0, 0, 0.5);

}

.book-detail__summary-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 20px;
}

.book-detail__summary-text {
    line-height: 1.4;
    text-align: justify;
}

#check {
    display: none;
}

.book-detail__extended-summary {
    display: none;
    transition: 0.5 linear;
}

.book-detail__summary label {
    display: inline-block;
    margin-top: 14px;
    color: var(--owl--teal-primary);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

.book-detail__extended-summary {
    display: none;
    /* Add this to hide by default */
}

#check:checked~.book-detail__extended-summary {
    display: block;
}

.read-more:before {
    content: "Read More";
    /* Default content */
}

#check:checked~.read-more:before {
    content: "Show Less";
    /* Change content when checkbox is checked */
}

@media screen and (max-width: 992px) {
    .book-detail__main-body {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 10vmin;
    }


    .book-detail__image {
        margin-left: 0;
        margin-right: 0;
        order: 1;
    }

    .book-detail__sub-images {
        flex-direction: row;
        gap: 10px;
        order: 2;
    }

    .book-detail__sub-image {
        width: 50px;
    }

    .book-detail__buy {
        width: 100%;
        order: 3;
    }

    .book-detail__price {
        flex-direction: row;
        align-items: flex-start;
    }

    .book-detail__buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .book-detail__button {
        width: 100%;
    }

    .book-detail__quantity {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }

    .book-detail__summary {
        margin-top: 20px;
    }

    .book-detail__summary-title {
        font-size: 20px;
    }

    .book-detail__summary-text {
        text-align: left;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .book-detail__main-body {
        margin-top: 15vmin;
    }

    .book-detail__image {
        margin-left: 0;
        margin-right: 0;
        order: 1;
    }

    .book-detail__sub-images {
        flex-direction: row;
        gap: 10px;
        order: 2;
    }

    .book-detail__sub-image {
        width: 50px;
    }

    .book-detail__buy {
        width: 100%;
        order: 3;
    }

    .book-detail__price {
        flex-direction: row;
        align-items: flex-start;
    }

    .book-detail__buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .book-detail__button {
        width: 100%;
    }

    .book-detail__quantity {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }

    .book-detail__summary {
        margin-top: 20px;
    }

    .book-detail__name {
        font-size: 20px;
    }

    .book-detail__author {
        font-size: 16px;
    }

    .book-deatail__price-old {
        font-size: 16px;
    }

    .book-detail__price-current {
        font-size: 20px;
    }

    .book-detail__summary-title {
        font-size: 20px;
    }

    .book-detail__summary-text {
        text-align: left;
        font-size: 14px;
    }

    .book-detail__button--add-to-cart,
    .book-detail__button--buy-now {
        font-size: 14px;
    }
}

/*Breadcrumb*/
.breadcrumb {
    width: 100%;
    padding: 30px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumb__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--owl--green-primary);
    padding: 5px;
    border: 2px solid var(--owl--teal-primary);
}

.breadcrumb__item::after {
    content: " / ";
    font-size: 16px;
    font-weight: 600;
    color: var(--owl--teal-primary);
}

.breadcrumb__item:last-child::after {
    content: "";
}

.breadcrumb__link {
    text-decoration: none;
    color: var(--owl--teal-primary);
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}

.breadcrumb__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    .breadcrumb {
        display: none;
    }
}

/*Contact page*/
.contact {
    width: 50%;
    margin: auto;
    margin-top: 45px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--owl--green-primary);
    border: 2px solid var(--owl--teal-primary);
}

.contact__form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact__form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact__form label,
.contact__form-pref-label,
.contact__form-news-label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
}

.contact__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
}

.contact__form-field+.contact__form-field {
    margin-top: 1rem;
}

.contact__form-submit,
.contact__form-reset {
    margin-top: 1rem;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.contact__form-submit:hover,
.contact__form-reset:hover {
    background: var(--owl--white-primary);
    color: var(--owl--teal-primary);
    transition: .3s;
}

.contact__form-select,
.contact__form-input,
.contact__form-textarea {
    width: 50%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--owl--teal-primary);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
    background: var(--owl--white-primary);
}

.contact__form-select:focus,
.contact__form-input:focus,
.contact__form-textarea:focus {
    outline: none;
    border: 2px solid var(--owl--yellow-primary);
}

@media screen and (max-width: 992px) {
    .contact {
        width: 100%;
    }

    .contact__form-field {
        flex-direction: column;
        gap: 0.7rem;
    }

    .contact__form-label,
    .contact__form-input,
    .contact__form-select,
    .contact__form-textarea {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        margin: auto;
        font-size: 1rem;
    }

    .contact__form label,
    .contact__form-pref-label,
    .contact__form-news-label {
        font-size: 1rem;
        font-weight: 600;
        color: var(--owl--teal-primary);
    }
}

/*Pre-order page*/
/* Basic styles for BEM-based classes */
.preorder {
    width: 80%;
    margin: auto;
    margin-top: 45px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--owl--green-primary);
    border: 2px solid var(--owl--teal-primary);
}

.preorder__form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.preorder__form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.preorder__form-label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
    width: 50%;
}

.preorder__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
}

.preorder__form-field+.preorder__form-field {
    margin-top: 1rem;
}

.preorder__form-submit {
    margin-top: 1rem;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.preorder__form-submit:hover {
    background: var(--owl--white-primary);
    color: var(--owl--teal-primary);
    transition: .3s;
}

.preorder__form-select,
.preorder__form-input,
.preorder__form-textarea {
    width: 50%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--owl--teal-primary);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
    background: var(--owl--white-primary);
}

.preorder__form-select:focus,
.preorder__form-input:focus,
.preorder__form-textarea:focus {
    outline: none;
    border: 2px solid var(--owl--yellow-primary);
}

/* Mobile responsive styles */
@media (max-width: 992px) {
    .preorder {
        width: 100%;
    }

    .preorder__form-field {
        flex-direction: column;
        gap: 0.7rem;
    }

    .preorder__form-label,
    .preorder__form-input,
    .preorder__form-select,
    .preorder__form-textarea {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        margin: auto;
        font-size: 1rem;
    }

    .preorder__heading {
        font-size: 1rem;
    }
}

/*Article page*/
.article {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.article__header {
    margin-bottom: 10px;
}

.article__title {
    font-size: 30px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 10px;
}

.article__meta {
    font-size: 14px;
    font-weight: 600;
    color: var(--owl--green-primary);
    margin-bottom: 10px;
}

.article__author {
    font-size: 14px;
    font-weight: 600;
    color: var(--owl--green-primary);
    margin-bottom: 10px;
}

.article__img img {
    width: 100%;
    height: auto;
}

.article__img p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.article__img {
    width: 80%;
    margin-bottom: 20px;
    margin: auto;
}

.article__intro,
.article__text,
.article__conclusion {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
    line-height: 2;
    text-align: justify;
}

.article__subsection-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 10px;
    margin-top: 30px;
}

.article__subsubsection-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.article__list-item {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
    line-height: 2;
    text-align: justify;
}

.article__footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .article__title {
        font-size: 20px;
    }

    .article__meta {
        font-size: 12px;
    }

    .article__author {
        font-size: 12px;
    }

    .article__img p {
        font-size: 12px;
    }

    .article__intro,
    .article__text,
    .article__conclusion {
        font-size: 14px;
    }

    .article__subsection-title {
        font-size: 16px;
    }

    .article__subsubsection-title {
        font-size: 14px;
    }

    .article__list-item {
        font-size: 14px;
    }
}

/*Newsletter*/
.newsletter {
    width: 50%;
    margin: 5vmax auto 0 auto;
    padding: 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--owl--teal-primary);
}

.newsletter__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: center;
}

.newsletter__description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: center;
}

.newsletter__form {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
}

.newsletter__input {
    flex: 3;
    height: 3rem;
    border-radius: 0;
    padding-left: 2%;
    border: 2px solid var(--owl--teal-primary);
}

.newsletter__submit-btn {
    flex: 1;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-weight: 700;
    height: 3rem;
    border: none;
    cursor: pointer;
}

.newsletter__submit-btn:hover {
    background: var(--owl--green-primary);
    color: var(--owl--teal-primary);
    transition: .3s;
}

.newsletter__consent {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: center;
}

.newsletter__consent-link {
    color: var(--owl--green-primary);
    font-weight: 600;
    text-decoration: underline;
}

.newsletter__consent-link:hover {
    color: var(--owl--teal-primary);
    transition: .3s;
}

@media screen and (max-width: 992px) {
    .newsletter {
        width: 80%;
    }

    .newsletter__form {
        flex-direction: column;
        height: 6rem;
    }

    .newsletter__input {
        flex: 1;
        width: 100%;
    }

    .newsletter__submit-btn {
        flex: 1;
        width: 100%;
    }
}

@media screen and (max-width: 772px) {
    .newsletter {
        width: 80%;
        padding: 5% 3%;
    }

    .newsletter__title {
        font-size: 1.2rem;
    }

    .newsletter__description {
        font-size: 0.8rem;
    }

    .newsletter__form {
        flex-direction: column;
        height: 4rem;
    }

    .newsletter__input {
        flex: 1;
        width: 100%;
        font-size: 0.8rem;
    }

    .newsletter__submit-btn {
        flex: 1;
        width: 100%;
        font-size: 0.8rem;
    }

    .newsletter__consent {
        font-size: 0.8rem;
    }

    .newsletter__consent-link {
        font-size: 0.8rem;
    }
}

.privacy {
    width: 100%;
    margin: 5vmax auto 0 auto;
    padding: 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.privacy__section {
    align-self: flex-start;
}

.privacy__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: center;
}

.privacy__text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: center;
    text-align: left;
}

.privacy__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: left;
}

.privacy__list {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: left;
}

.privacy__list li {
    margin-bottom: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 772px) {
    .privacy {
        width: 80%;
    }

    .privacy__title {
        font-size: 1.2rem;
    }

    .privacy__text {
        font-size: 0.8rem;
    }

    .privacy__subtitle {
        font-size: 1rem;
    }

    .privacy__list {
        font-size: 0.8rem;
    }

    .privacy__list li {
        font-size: 0.8rem;
    }
}

.copyright {
    width: 100%;
    margin: 5vmax auto 0 auto;
    padding: 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.copyright__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: center;
}

.copyright__introduction {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: center;
}

.copyright__text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: center;
}

.copyright__sub-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: center;
}

.copyright ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: left;
}

.terms {
    width: 100%;
    margin: 5vmax auto 0 auto;
    padding: 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.terms__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: center;
}

.terms__sub-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: left;
    align-self: flex-start;
}

.terms__text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 400;
    text-align: left;
}

/*Footer*/
.footer {
    background: #000000;
    color: var(--owl--white-primary);
    padding: 20px;
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.footer__body {
    width: 100%;
    display: flex;
    align-items: left, top;
    justify-content: left;
}

.footer__end,
.footer__body {
    max-width: 100%;
    padding: 10px;
}

.footer__useful-links,
.footer__social,
.footer__books {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px;
}

.footer__useful-links--title,
.footer__social--title,
.footer__books--title {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--owl--green-primary);
}

.useful-links__list,
.books__list {
    list-style: none;
    padding: 0;
}

.social__list {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.useful-links__list-item,
.social__list-item,
.books__list-item {
    margin-bottom: 10px;
}

.useful-links__item-link,
.social__item-link,
.books__item-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.useful-links__item-link:hover,
.social__item-link:hover,
.books__item-link:hover {
    color: #ddd;
}

.footer__end {
    border-top: solid 1px rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__end--logo {
    height: 40px;
    width: auto;
    justify-content: flex-start;
}

.footer__end--text {
    text-align: right;
    justify-content: flex-end;
}

.footer__end--text p {
    font-size: 14px;
}

/* Social icons styles */
.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-github {
    font-size: 24px;
}

@media screen and (max-width: 992px) {
    .footer {
        max-width: 100%;
    }

    .footer__body,
    .footer__end {
        max-width: 100%;
    }

    .footer__useful-links--title,
    .footer__social--title,
    .footer__books--title {
        font-size: 16px;
    }

    .useful-links__item-link,
    .social__item-link,
    .books__item-link {
        font-size: 14px;
    }

    .fa-facebook,
    .fa-instagram,
    .fa-linkedin,
    .fa-github {
        font-size: 20px;
    }

    .footer__end--text p {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .footer__body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__body,
    .footer__end {
        max-width: 100%;
    }

    .useful-links__list,
    .books__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__useful-links,
    .footer__books {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__useful-links--title,
    .footer__social--title,
    .footer__books--title {
        font-size: 16px;
    }

    .useful-links__item-link,
    .social__item-link,
    .books__item-link {
        font-size: 14px;
    }

    .fa-facebook,
    .fa-instagram,
    .fa-linkedin,
    .fa-github {
        font-size: 20px;
    }

    .footer__useful-links,
    .footer__social,
    .footer__books {
        margin: 0;
    }

    .footer__useful-links,
    .footer__social,
    .footer__books {
        margin: 0;
    }

    .footer__useful-links--title,
    .footer__social--title,
    .footer__books--title {
        margin-bottom: 15px;
    }

    .footer__end {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__end--logo {
        margin-bottom: 20px;
    }

    .footer__end--text {
        text-align: center;
    }

    .footer__end--text p {
        font-size: 8px;
    }
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px var(--owl--white-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--owl--green-primary);
}

/*Policies*/
.policies {
    width: 100%;
    margin: 5vmax auto 0 auto;
    padding: 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.policies__title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.policies__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
    text-align: center;
}

.policies__privacy-policy,
.policies__copyright,
.policies__terms {
    flex: 1;
    margin: 0 1%;
    padding: 2% 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--owl--teal-primary);
    background: var(--owl--green-primary);
}

.policies__link {
    color: var(--owl--teal-primary);
    font-weight: 600;
    text-decoration: underline;
}

.policies__privacy-policy:hover,
.policies__copyright:hover,
.policies__terms:hover,
.policies__privacy-policy:hover .policies__link,
.policies__copyright:hover .policies__link,
.policies__terms:hover .policies__link {
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    transition: .3s;
}

@media screen and (max-width: 992px) {
    .policies__title {
        font-size: 1.5rem;
    }

    .policies {
        flex-direction: column;
        gap: 1rem;
    }

    .policies__privacy-policy,
    .policies__copyright,
    .policies__terms {
        flex: 1;
        width: 100%;
        margin: 0 1%;
        padding: 2% 3%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid var(--owl--teal-primary);
        background: var(--owl--green-primary);
    }
}