/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Phan Nhat Minh
ID: s3978598
Acknowledgement: chat.openai.com, w3schools.com, stackoverflow.com, penguin.co.uk, Coding Nepal, Codepen.io, freepik.com, unsplash.com, giphy.com, fontawesome.com, google.com, GitHub Copilot.
*/

/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables*/
:root {
    /*Colors*/
    --owl--white-primary: #fffffe;
    --owl--green-primary: #BFDB38;
    --owl--teal-primary: #00425A;
    --owl--grey-primary: #f2f4f6;

    /*Screen sizes*/
    --owl--screen-sm: 768px;
    --owl--screen-md: 992px;

}

/*Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

body {
    min-height: 100vh;
    background: var(--owl--white-primary);
    display: flex;
    flex-direction: column;
}

/*Header*/
.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: var(--owl--white-primary);
    border-bottom: 2px solid var(--owl--green-primary);
    margin-bottom: 100px;
}

.header__nav {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.header__nav .logo img {
    width: auto;
    height: 70px;
}

.header__nav .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--owl--teal-primary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: var(--owl--grey-primary);
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: var(--owl--grey-primary);
    width: 180px;
    line-height: 45px;
    top: 133px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 133px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 133px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: var(--owl--grey-primary);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: var(--owl--teal-primary);
    font-size: 18px;
    font-weight: 700;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(0, 66, 90, 0.5);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: var(--owl--teal-primary);
    font-size: 14px;
    display: block;
}

.row .mega-links li a:hover {
    color: var(--owl--green-primary);
    text-decoration: underline;
}

.header__nav .btn {
    color: var(--owl--teal-primary);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.header__nav .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .header__nav .btn {
        display: block;
    }

    .header__nav .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 370px;
        top: 0;
        left: -100%;
        background: var(--owl--grey-primary);
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--owl--white-primary);
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--owl--teal-primary);
        border-radius: 10px;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: var(--owl--teal-primary);
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: var(--owl--white-primary);
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

.header input {
    display: none;
}


/*Bookshelf styling*/
.bookshelf {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
}

.bookshelf__title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 7px;
    border-top: var(--owl--teal-primary) solid 2px;
    color: var(--owl--teal-primary);
}

.bookshelf__books {
    position: relative;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.bookshelf__book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookshelf__book-cover {
    width: 200px;
}

.bookshelf__book-link {
    text-decoration: none;
}

.bookshelf__book-title {
    color: var(--owl--teal-primary);
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.bookshelf__book-author {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    text-transform: uppercase;
    color: var(--owl--teal-primary);
}

.bookshelf__book-link:hover .bookshelf__book-title {
    color: var(--owl--green-primary);
    text-decoration: underline;
}

.bookshelf__book:hover .bookshelf__book-cover {
    transform: scale(1.01);
    transition: .3s;
}

/*Featured video*/
.featured-video {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--owl--teal-primary);
}

.featured-video__left-column {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
}

.featured-video__introduction {
    padding: 20px 30px;
    height: 200px;
    border-bottom: solid 2px var(--owl--teal-primary);
}

.featured-video__section-title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__video-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__video-author {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
}

.featured-video__description {
    padding: 20px 30px;
    background: var(--owl--green-primary);
    height: 360px;
}

.featured-video__video-description {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
    text-align: justify;
}

.featured-video__video {
    height: 560px;
    border-left: solid 2px var(--owl--teal-primary);
}

.featured-video__watch-btn {
    width: 100%;
    height: 40px;
    background: var(--owl--teal-primary);
    border: none;
    text-align: left;
    color: var(--owl--white-primary);
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 0 10px;
}

.featured-video__watch-btn:hover {
    background: rgba(0, 66, 90, 0.8);
}

.featured-video__watch-btn-link {
    text-decoration: none;
    color: var(--owl--white-primary);
    font-weight: 600;
    font-size: 14px;
}

.featured-video__watch-btn-link {
    text-decoration: none;
    color: var(--owl--white-primary);
    font-weight: 600;
    font-size: 14px;
}

/*Newsletter*/
.newsletter {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--owl--teal-primary);
}

.newsletter__left-column {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
}

.newsletter__contact-info {
    padding: 20px 30px;
    height: 280px;
    border-bottom: solid 2px var(--owl--teal-primary);
}

.newsletter__contact-title {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.newsletter__contact-text {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    color: var(--owl--teal-primary);
    margin-right: 10px;
}

.newsletter__sign-up {
    padding: 20px 30px;
    background: var(--owl--green-primary);
    height: 280px;
}

.newsletter__sign-up-title {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.newsletter__input-email {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
}

.newsletter__input-submit {
    width: auto;
    height: 40px;
    border: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 13px;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.newsletter__input-submit:hover {
    background: var(--owl--green-primary);
    transition: .3s;
}

.newsletter__consent {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
    text-align: justify;
}

.newsletter__consent-link {
    color: var(--owl--teal-primary);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
}

.newsletter__map {
    height: 560px;
    border-left: solid 2px var(--owl--teal-primary);
}


/*Book detail page styling*/
.book-detail__main-body {
    display: flex;
    align-items: flex-start;
    max-width: 1300px;
    margin: auto;
    gap: 20px;
    /* Sets a gap between the elements */
}

.book-detail__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-left: 80px;
    margin-right: 80px;
}

.book-detail__sub-images {
    max-width: fit-content;
}

.book-detail__image img {
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.book-detail__sub-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-detail__buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
}

.book-detail__sub-image {
    width: 70px;
    height: auto;
}

.book-detail__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-detail__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-detail__button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.book-detail__button--buy-now {
    background-color: #f00;
}

.book-detail__quantity {
    display: flex;
    align-items: center;
}

.book-detail__price-old {
    text-decoration: line-through;
}


.book-detail__summary {
    width: 450px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: 0 0 5px rgba(0,0,0,0.5);

}

.book-detail__summary-text {
    line-height: 1.4;
    text-align: justify;
}

#check {
    display: none;
}

.book-detail__extended-summary {
    display: none;
    transition: 0.5 linear;
}

label {
    display: inline-block;
    margin-top: 15px;
    color: var(--owl--teal-primary);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

#check:checked ~ .book-detail__extended-summary {
    display: block;
}

#check:checked ~ label {
    visibility: hidden;
}

#check:checked ~ label:after {
    content: "Show Less";
    display: block;
    visibility: visible;
}

/*Breadcrumb*/
.breadcrumb {
    width: 100%;
    max-width: 1300px;
    padding: 30px 0;
    margin: auto;
    margin-top: 133px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumb__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--owl--green-primary);
    padding: 5px;
    border: 2px solid var(--owl--teal-primary);
}

.breadcrumb__item::after {
    content: " > ";
}

.breadcrumb__item:last-child::after {
    content: "";
}

.breadcrumb__link {
    text-decoration: none;
    color: var(--owl--teal-primary);
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}

.breadcrumb__link:hover {
    text-decoration: underline;
}


/*Footer*/
.footer {
    background: #000000;
    color: var(--owl--white-primary);
    padding: 20px;
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__body {
    width: 100%;
    display: flex;
    align-items: left, top;
    justify-content: left;
}

.footer__end,
.footer__body {
    width: 100%;
    max-width: 1300px;
    padding: 10px;
}

.footer__useful-links,
.footer__social,
.footer__books {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px;
}

.footer__useful-links--title,
.footer__social--title,
.footer__books--title {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--owl--green-primary);
}

.useful-links__list,
.books__list {
    list-style: none;
    padding: 0;
}

.social__list {
    width: 200px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.useful-links__list-item,
.social__list-item,
.books__list-item {
    margin-bottom: 10px;
}

.useful-links__item-link,
.social__item-link,
.books__item-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.useful-links__item-link:hover,
.social__item-link:hover,
.books__item-link:hover {
    color: #ddd;
}

.footer__end {
    border-top: solid 1px rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__end--logo {
    height: 40px;
    width: auto;
    justify-content: flex-start;
}

.footer__end--text {
    text-align: right;
    justify-content: flex-end;
}

.footer__end--text p {
    font-size: 14px;
}

/* Social icons styles */
.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-github {
    font-size: 24px;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px var(--owl--white-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--owl--green-primary);
}