/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Phan Nhat Minh
ID: s3978598
Acknowledgement: chat.openai.com, w3schools.com, stackoverflow.com, penguin.co.uk, Coding Nepal, Codepen.io, freepik.com, unsplash.com, giphy.com, fontawesome.com, google.com, GitHub Copilot.
*/

/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables*/
:root {
    /*Colors*/
    --owl--white-primary: #fffffe;
    --owl--green-primary: #BFDB38;
    --owl--teal-primary: #00425A;
    --owl--grey-primary: #f2f4f6;
    --owl--yellow-primary: #ff8e05;

    /*Screen sizes*/
    --owl--screen-sm: 768px;
    --owl--screen-md: 992px;

}

/*Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

body {
    min-height: 100vh;
    background: var(--owl--white-primary);
    display: flex;
    flex-direction: column;
}

/*Main content margin*/
.main-content {
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
}

/*Header*/
.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: var(--owl--white-primary);
    border-bottom: 2px solid var(--owl--green-primary);
}

.header__nav {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.header__logo img {
    width: auto;
    height: 70px;
}

.header__nav-links {
    display: inline-flex;
}

.header__nav-item {
    list-style: none;
    line-height: 103px;
}

.drop-menu, .mega-links {
    list-style: none;
}

.header__nav-item a {
    color: var(--owl--teal-primary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header__nav-item a:hover {
    background: var(--owl--grey-primary);
}

.header__nav-links .mobile-item {
    display: none;
}

.header__nav-links .drop-menu {
    position: absolute;
    background: var(--owl--grey-primary);
    width: 180px;
    line-height: 45px;
    top: 100px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.header__nav-item:hover .drop-menu,
.header__nav-item:hover .mega-box {
    transition: all 0.3s ease;
    top: 103px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 133px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: var(--owl--grey-primary);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row .row-header {
    color: var(--owl--teal-primary);
    font-size: 18px;
    font-weight: 700;
    margin-left: -20px;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(0, 66, 90, 0.5);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: var(--owl--teal-primary);
    font-size: 14px;
    display: block;
}

.row .mega-links li a:hover {
    color: var(--owl--green-primary);
    text-decoration: underline;
}

.header__nav .btn {
    color: var(--owl--teal-primary);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.header__nav .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .header__nav .btn {
        display: block;
    }

    .header__nav .header__nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 370px;
        top: 0;
        left: -100%;
        background: var(--owl--grey-primary);
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--owl--white-primary);
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--owl--teal-primary);
        border-radius: 10px;
    }

    #menu-btn:checked~.header__nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .header__nav-item {
        margin: 15px 10px;
    }

    .header__nav-item a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .header__nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .header__nav-links .desktop-item {
        display: none;
    }

    .header__nav-links .mobile-item {
        display: block;
        color: var(--owl--teal-primary);
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .header__nav-links .mobile-item:hover {
        background: var(--owl--white-primary);
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mheader__nav-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mheader__nav-links li {
        margin: 0;
    }

    .content .row .row-header {
        font-size: 19px;
    }
}

.header input {
    display: none;
}

/*Aritcles section*/
.articles {
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-top: 40px;
}

.articles__main {
    flex: 2;
    margin-right: 1rem;
    padding: 0 40px;
    border-left: 1px solid rgba(0, 66, 90, 0.2);
    border-right: 1px solid rgba(0, 66, 90, 0.2);
}

.articles__main-img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.articles__main-intro {
    font-size: 16px;
    margin-top: 1rem;
    color: var(--owl--teal-primary);
    margin-bottom: 0.1rem;
    font-weight: 700;
}

.articles__main-title {
    font-size: 24px;
    font-weight: 800;
    color: var(--owl--teal-primary);
}

.articles__main-excerpt {
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--owl--teal-primary);
}

.articles__main-link {
    text-decoration: none;
}

.articles__main-link:hover .articles__main-title,
.articles__main-link:hover .articles__main-intro {
    color: var(--owl--green-primary);
}

.articles__subs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles__subs-title {
    background: var(--owl--green-primary);
    padding: 5px;
}
.articles__subs-title-text {
    font-size: 18px;
    font-weight: 700;
    color: var(--owl--teal-primary);
}
.articles__sub {
    border-bottom: 1px solid rgba(0, 66, 90, 0.2);
    padding: 0 0 50px 0;
}

.articles__sub:last-child {
    border-bottom: none;
}

.articles__sub-img {
    max-width: 50%;
    display: block;
}

.articles__sub-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.articles__sub-title {
    font-size: 18px;
    margin: 0.5rem 0;
    color: var(--owl--teal-primary);
    font-weight: 700;
}

.articles__sub-link {
    text-decoration: none;
}

.articles__sub-link:hover .articles__sub-title {
    color: var(--owl--green-primary);
}


/*Bookshelf styling*/
.bookshelf {
    width: 100%;
}

.bookshelf__title-container {
    border-top: var(--owl--teal-primary) solid 2px;
    margin-top: 70px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookshelf__title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.bookshelf__view-all-link {
    text-decoration: none;
    font-size: 14px;
    text-align: right;
    height: fit-content;
    color: var(--owl--green-primary);
    font-weight: 800;
    padding-top: 7px;
    text-decoration: underline;
    text-transform: uppercase;
}

.bookshelf__view-all-link:hover {
    color: var(--owl--teal-primary);
}

.bookshelf__books {
    position: relative;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.bookshelf__book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookshelf__book-cover {
    width: 200px;
}

.bookshelf__book-link {
    text-decoration: none;
}

.bookshelf__book-title {
    color: var(--owl--teal-primary);
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.bookshelf__book-author {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    text-transform: uppercase;
    color: var(--owl--teal-primary);
}

.bookshelf__book-link:hover .bookshelf__book-title {
    color: var(--owl--green-primary);
    text-decoration: underline;
}

.bookshelf__book:hover .bookshelf__book-cover {
    transform: scale(1.01);
    transition: .3s;
}

/*Featured video*/
.featured-video {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--owl--teal-primary);
}

.featured-video__left-column {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
}

.featured-video__introduction {
    padding: 20px 30px;
    height: 200px;
    border-bottom: solid 2px var(--owl--teal-primary);
}

.featured-video__section-title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__video-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.featured-video__video-author {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
}

.featured-video__description {
    padding: 20px 30px;
    background: var(--owl--green-primary);
    height: 360px;
}

.featured-video__video-description {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
    text-align: justify;
}

.featured-video__video {
    height: 560px;
    border-left: solid 2px var(--owl--teal-primary);
}

.featured-video__watch-btn {
    width: 100%;
    height: 40px;
    background: var(--owl--teal-primary);
    border: none;
    text-align: left;
    color: var(--owl--white-primary);
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 0 10px;
}

.featured-video__watch-btn:hover {
    background: rgba(0, 66, 90, 0.8);
}

.featured-video__watch-btn-link {
    text-decoration: none;
    color: var(--owl--white-primary);
    font-weight: 600;
    font-size: 14px;
}

.featured-video__watch-btn-link {
    text-decoration: none;
    color: var(--owl--white-primary);
    font-weight: 600;
    font-size: 14px;
}

/*Newsletter*/
.newsletter {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--owl--teal-primary);
}

.newsletter__left-column {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
}

.newsletter__contact-info {
    padding: 20px 30px;
    height: 280px;
    border-bottom: solid 2px var(--owl--teal-primary);
}

.newsletter__contact-title {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.newsletter__contact-text {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    color: var(--owl--teal-primary);
    margin-right: 10px;
}

.newsletter__sign-up {
    padding: 20px 30px;
    background: var(--owl--green-primary);
    height: 280px;
}

.newsletter__sign-up-title {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 7px;
    color: var(--owl--teal-primary);
}

.newsletter__input-email {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
}

.newsletter__input-submit {
    width: auto;
    height: 40px;
    border: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 13px;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.newsletter__input-submit:hover {
    background: var(--owl--white-primary);
    color: var(--owl--teal-primary);
    transition: .3s;
}

.newsletter__consent {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: var(--owl--teal-primary);
    text-align: justify;
}

.newsletter__consent-link {
    color: var(--owl--teal-primary);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
}

.newsletter__map {
    height: 560px;
    border-left: solid 2px var(--owl--teal-primary);
}


/*Book detail page styling*/
.book-detail {
    margin-bottom: 70px;
}

.book-detail__main-body {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.book-detail__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-left: 80px;
    margin-right: 80px;
}

.book-detail__sub-images {
    max-width: fit-content;
}

.book-detail__sub-images--popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.book-detail__sub-images--popup span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: 800;
    color: var(--owl--white-primary);
    cursor: pointer;
    z-index: 100;
}

.book-detail__sub-images--popup img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--owl--white-primary);
    border-radius: 5px;
    width: 500px;
    object-fit: cover;
}

.book-detail__main-image {
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.book-detail__sub-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-detail__sub-image {
    width: 70px;
    height: auto;
}

.book-detail__buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.book-detail__name {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: var(--owl--teal-primary);
}

.book-detail__author {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--owl--teal-primary);
}

.book-detail__price {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.book-detail__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.book-detail__button {
    flex: 1;
    padding: 10px;
    color: var(--owl--teal-primary);
    border: 2px solid var(--owl--teal-primary);
    cursor: pointer;
    text-align: center;
    background: var(--owl--white-primary);
    font-weight: 800;
}

.book-detail__button--buy-now {
    flex: 1;
    border: 2px solid var(--owl--teal-primary);
    background: var(--owl--green-primary);
    font-weight: 800;
}

.book-detail__button--buy-now:hover {
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    transition: .3s;
}

.book-detail__button--add-to-cart:hover {
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    transition: .3s;
}

.book-detail__quantity {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.book-detail__quantity label, .book-detail__quantity input {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
}

.book-detail__price-old {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 18px;
    color: rgba(0, 66, 90, 0.8);
}

.book-detail__price-current {
    font-size: 30px;
    font-weight: 700;
    color: var(--owl--teal-primary);
}


.book-detail__summary {
    margin-top: 70px;
    width: 100%;
    box-sizing: 0 0 5px rgba(0,0,0,0.5);

}

.book-detail__summary-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 20px;
}

.book-detail__summary-text {
    line-height: 1.4;
    text-align: justify;
}

#check {
    display: none;
}

.book-detail__extended-summary {
    display: none;
    transition: 0.5 linear;
}

.book-detail__summary label {
    display: inline-block;
    margin-top: 14px;
    color: var(--owl--teal-primary);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

.book-detail__extended-summary {
    display: none; /* Add this to hide by default */
}

#check:checked ~ .book-detail__extended-summary {
    display: block;
}

.read-more:before {
    content: "Read More"; /* Default content */
}

#check:checked ~ .read-more:before {
    content: "Show Less"; /* Change content when checkbox is checked */
}

/*Breadcrumb*/
.breadcrumb {
    width: 100%;
    padding: 30px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumb__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--owl--green-primary);
    padding: 5px;
    border: 2px solid var(--owl--teal-primary);
}

.breadcrumb__item::after {
    content: " > ";
}

.breadcrumb__item:last-child::after {
    content: "";
}

.breadcrumb__link {
    text-decoration: none;
    color: var(--owl--teal-primary);
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}

.breadcrumb__link:hover {
    text-decoration: underline;
}

/*Contact page*/
.contact {
    width: 50%;
    margin: auto;
    margin-top: 45px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--owl--green-primary);
    border: 2px solid var(--owl--teal-primary);
}

.contact__form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact__form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact__form label,
.contact__form-pref-label,
.contact__form-news-label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
}

.contact__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
}

.contact__form-field + .contact__form-field {
    margin-top: 1rem;
}

.contact__form-submit,
.contact__form-reset {
    margin-top: 1rem;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.contact__form-submit:hover,
.contact__form-reset:hover {
    background: var(--owl--white-primary);
    color: var(--owl--teal-primary);
    transition: .3s;
}

.contact__form-select,
.contact__form-input,
.contact__form-textarea {
    width: 50%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--owl--teal-primary);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
    background: var(--owl--white-primary);
}

.contact__form-select:focus,
.contact__form-input:focus,
.contact__form-textarea:focus {
    outline: none;
    border: 2px solid var(--owl--yellow-primary);
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .contact__form-label,
    .contact__form-input,
    .contact__form-select,
    .contact__form-textarea {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        margin: auto;
    }
}

/*Pre-order page*/
/* Basic styles for BEM-based classes */
.preorder {
    width: 50%;
    margin: auto;
    margin-top: 45px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--owl--green-primary);
    border: 2px solid var(--owl--teal-primary);
}

.preorder__form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.preorder__form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.preorder__form-label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
    width: 50%;
}

.preorder__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--owl--teal-primary);
    font-weight: 700;
}

.preorder__form-field + .preorder__form-field {
    margin-top: 1rem;
}

.preorder__form-submit {
    margin-top: 1rem;
    background: var(--owl--teal-primary);
    color: var(--owl--white-primary);
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.preorder__form-submit:hover {
    background: var(--owl--white-primary);
    color: var(--owl--teal-primary);
    transition: .3s;
}

.preorder__form-select,
.preorder__form-input,
.preorder__form-textarea {
    width: 50%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--owl--teal-primary);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--owl--teal-primary);
    background: var(--owl--white-primary);
}

.preorder__form-select:focus,
.preorder__form-input:focus,
.preorder__form-textarea:focus {
    outline: none;
    border: 2px solid var(--owl--yellow-primary);
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .preorder__form-label,
    .preorder__form-input,
    .preorder__form-select,
    .preorder__form-textarea {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        margin: auto;
    }
}

/*Footer*/
.footer {
    background: #000000;
    color: var(--owl--white-primary);
    padding: 20px;
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__body {
    width: 100%;
    display: flex;
    align-items: left, top;
    justify-content: left;
}

.footer__end,
.footer__body {
    width: 100%;
    max-width: 1300px;
    padding: 10px;
}

.footer__useful-links,
.footer__social,
.footer__books {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px;
}

.footer__useful-links--title,
.footer__social--title,
.footer__books--title {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--owl--green-primary);
}

.useful-links__list,
.books__list {
    list-style: none;
    padding: 0;
}

.social__list {
    width: 200px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.useful-links__list-item,
.social__list-item,
.books__list-item {
    margin-bottom: 10px;
}

.useful-links__item-link,
.social__item-link,
.books__item-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.useful-links__item-link:hover,
.social__item-link:hover,
.books__item-link:hover {
    color: #ddd;
}

.footer__end {
    border-top: solid 1px rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__end--logo {
    height: 40px;
    width: auto;
    justify-content: flex-start;
}

.footer__end--text {
    text-align: right;
    justify-content: flex-end;
}

.footer__end--text p {
    font-size: 14px;
}

/* Social icons styles */
.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-github {
    font-size: 24px;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px var(--owl--white-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--owl--green-primary);
}


/*Article page*/
.article {
    width: 70%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.article__header {
    margin-bottom: 10px;
}

.article__title {
    font-size: 30px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 10px;
}

.article__meta {
    font-size: 14px;
    font-weight: 600;
    color: var(--owl--green-primary);
    margin-bottom: 10px;
}

.article__author {
    font-size: 14px;
    font-weight: 600;
    color: var(--owl--green-primary);
    margin-bottom: 10px;
}

.article__img img {
    width: 100%;
    height: auto;
}

.article__img p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.article__img {
    margin-bottom: 20px;
}

.article__intro, .article__text, .article__conclusion {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
    line-height: 2;
    text-align: justify;
}

.article__subsection-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 10px;
    margin-top: 30px;
}

.article__subsubsection-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--owl--teal-primary);
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.article__list-item {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
    line-height: 2;
    text-align: justify;
}

.article__footer {
    margin-top: 30px;
    margin-bottom: 30px;
}